.nav {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', sans-serif;
  padding-top: 0.8rem;
  width: 100%;
  max-width: 40rem;
  padding-left: 3rem;

  @media (max-width: 600px) {
    padding-left: 1.5rem;
  }
}

.item {
  display: flex;
  align-items: center;
}

.sep {
  color: #f60a00;
  padding: 0 0.4rem;
}

.link {
  color: #f60a00;

}

.active {
  color: #f60a00;
}
